@page
@using Data.FlashCardImmortals.Models.Models;
@model FashCardImmortals.Pages.ManipulateFlashModel

<head>
    <link rel="stylesheet" href="~/css/ManipulateFalshStyles.css">
    <script src="~/js/ManipulateFalshScript.js"></script>
</head>

<div class="flash-container">
    <h1 class="heading">Achieve <span class="underline-word">Omniscience</span></h1>
    <div class="flash-content">
        <div class="flex-inputs">
            <label class="labels">Question</label>
            <textarea class="input-info textarea" placeholder="Enter question" id="question-input"></textarea>
        </div>
        <div class="flex-inputs">
            <label class="labels">Answer</label>
            <textarea class="input-info textarea" placeholder="Enter answer" id="answer-input"></textarea>
        </div>
        <div class="flex-inputs">
            <label class="labels">Sub Category</label>
            <select class="input-info" id="sub-category-input">
                @foreach (SubCategories subCategory in Model.SubCategoriesList)
                {
                    <option value="@subCategory.Name/@subCategory.Id">@subCategory.Name</option>
                }
            </select>
            <div class="flex-buttons">
                <button class="submit-button" onclick="PopUpDisplay();">+ Category</button>
                <button class="submit-button" onclick="RegisterNewFlashCard();">+ FlashCard</button>
            </div>
        </div>
    </div>
    <div class="sub-category-container">
        <div class="row-one-flex">
            @for (int i = 0; i < Model.SubCategoriesList.Count(); i++)
            {
                if (i == 5)
                {
                    break;
                }

                <div class="category-content-containers">
                    <h3 class="sub-category-headings">@Model.SubCategoriesList[i].Name</h3>
                    <hr />
                    <div class="flash-cards-in-@Model.SubCategoriesList[i].Name" id="flash-cards-in-@Model.SubCategoriesList[i].Name">
                        <div class="flash-cards">
                            <div class="flash-card-inner" id="flash-card-inner-@Model.SubCategoriesList[i].Id">
                                <div class="flash-card-front">
                                    <h5 class="sub-category-headings">Question:</h5>
                                    <label class="flash-card-contents">Lekker wat se jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-@Model.SubCategoriesList[i].Id')">Swap</button>
                                    <br />
                                </div>
                                <div class="flash-card-back">
                                    <h5 class="sub-category-headings">Answer:</h5>
                                    <label class="flash-card-contents">Nee goed en jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-@Model.SubCategoriesList[i].Id')">Swap</button>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="flash-cards">
                            <div class="flash-card-inner" id="flash-card-inner-{Guid.NewGuid()}">
                                <div class="flash-card-front">
                                    <h5 class="sub-category-headings">Question:</h5>
                                    <label class="flash-card-contents">Lekker wat se jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                                <div class="flash-card-back">
                                    <h5 class="sub-category-headings">Answer:</h5>
                                    <label class="flash-card-contents">Nee goed en jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="flash-cards">
                            <div class="flash-card-inner" id="flash-card-inner-{Guid.NewGuid()}">
                                <div class="flash-card-front">
                                    <h5 class="sub-category-headings">Question:</h5>
                                    <label class="flash-card-contents">Lekker wat se jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                                <div class="flash-card-back">
                                    <h5 class="sub-category-headings">Answer:</h5>
                                    <label class="flash-card-contents">Nee goed en jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <br />
                    </div>
                </div>
            }
        </div>

        <div class="row-one-flex">
            <div class="category-content-containers">
                <h3 class="sub-category-headings">War</h3>
                <hr />
                <div class="flash-cards-in-"></div>
            </div>

            @for (int i = 5; i < Model.SubCategoriesList.Count(); i++)
            {
                <div class="category-content-containers">
                    <h3 class="sub-category-headings">@Model.SubCategoriesList[i].Name</h3>
                    <hr />
                    <div class="flash-cards-in-@Model.SubCategoriesList[i].Name">
                        <div class="flash-cards">
                            <div class="flash-card-inner" id="flash-card-inner-{Guid.NewGuid()}">
                                <div class="flash-card-front">
                                    <h5 class="sub-category-headings">Question:</h5>
                                    <label class="flash-card-contents">Lekker wat se jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                                <div class="flash-card-back">
                                    <h5 class="sub-category-headings">Answer:</h5>
                                    <label class="flash-card-contents">Nee goed en jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="flash-cards">
                            <div class="flash-card-inner" id="flash-card-inner-{Guid.NewGuid()}">
                                <div class="flash-card-front">
                                    <h5 class="sub-category-headings">Question:</h5>
                                    <label class="flash-card-contents">Lekker wat se jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                                <div class="flash-card-back">
                                    <h5 class="sub-category-headings">Answer:</h5>
                                    <label class="flash-card-contents">Nee goed en jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="flash-cards">
                            <div class="flash-card-inner" id="flash-card-inner-{Guid.NewGuid()}">
                                <div class="flash-card-front">
                                    <h5 class="sub-category-headings">Question:</h5>
                                    <label class="flash-card-contents">Lekker wat se jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                                <div class="flash-card-back">
                                    <h5 class="sub-category-headings">Answer:</h5>
                                    <label class="flash-card-contents">Nee goed en jy?</label>
                                    <br />
                                    <br />
                                    <button class="button" onclick="flipCard('flash-card-inner-{Guid.NewGuid()}')">Swap</button>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <br />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="overlay" id="overlay" tabindex="-1"></div>

<div class="new-category-pop-up" id="popup">
    <div class="pop-up-content">
        <h1 class="heading">Create new Sub Category</h1>
        <div class="flex-inputs" id="popup-flex">
            <label class="labels" for="new-category-name-input">Sub Category Name</label>
            <input type="text" id="new-category-name-input" class="input-info" />
            <div class="flex-buttons" id="new-category-buttons">
                <button class="submit-button" onclick="RegisterSubCategory();">+ Category</button>
                <button class="submit-button" id="cancel-button" onclick="PopUpDisplay();">- Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="errorMessage" style="color: red;"></div>

@Html.AntiForgeryToken()